{% extends 'contas/base.html' %}
{% load static %}

{% block title %}Cardápio - Rei do Mate{% endblock %}

{% block content %}
    <div class="rei-do-mate-page">
        <header class="rdm-header">
            <a href="javascript:history.back()" class="icon-link" style="position: absolute; left: 20px;">&#8592;</a>
            <img class="rdm-header-logo" src="https://www.gcom.com.br/ImagesAppGcom/logo-reidomate-2.png" alt="Logo Rei do Mate">
        </header>

        <div class="rdm-divider"></div>

        <main class="rdm-menu-container">
            <h2 class="rdm-menu-title">CARDÁPIO</h2>

            <ul class="rdm-menu-list">
                <li class="rdm-menu-item">
                    <img class="rdm-item-image" src="https://tse3.mm.bing.net/th/id/OIP.McHq6arFurQL3xj1fg1pAgHaE8?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Copão com pães de queijo">
                    <div class="rdm-item-info">
                        <span class="rdm-item-name">Copão 12 unidades</span>
                        <span class="rdm-item-price">R$14,90</span>
                    </div>
                    <div class="rdm-item-action">
                        <a href="{% url 'add_carrinho' produto_nome='Copão Pão de Queijo' produto_preco='14.90' %}" class="rdm-cart-icon">&#128722;</a>
                    </div>
                </li>

                <li class="rdm-menu-item">
                    <img class="rdm-item-image" src="https://images.rappi.com.br/products/80adeda9-2e01-4e2f-80e4-5c778a653d26-1628085591789.png" alt="Açaí 300 ml">
                    <div class="rdm-item-info">
                        <span class="rdm-item-name">Açaí 300 ml</span>
                        <span class="rdm-item-price">R$19,90</span>
                    </div>
                    <div class="rdm-item-action">
                        <a href="{% url 'add_carrinho' produto_nome='Açaí 300ml' produto_preco='19.90' %}" class="rdm-cart-icon">&#128722;</a>
                    </div>
                </li>

                <li class="rdm-menu-item">
                    <img class="rdm-item-image" src="https://th.bing.com/th/id/R.d3f8e35a491a080d5a4d2cfd1ffb21ea?rik=ZvVloaxmLlVEMA&pid=ImgRaw&r=0" alt="Capuccino com Nutella">
                    <div class="rdm-item-info">
                        <span class="rdm-item-name">Capuccino Nutella</span>
                        <span class="rdm-item-price">R$12,90</span>
                    </div>
                    <div class="rdm-item-action">
                        <a href="{% url 'add_carrinho' produto_nome='Capuccino Nutella' produto_preco='12.90' %}" class="rdm-cart-icon">&#128722;</a>
                    </div>
                </li>

                <li class="rdm-menu-item">
                    <img class="rdm-item-image" src="https://tse1.mm.bing.net/th/id/OIP.QFYQ_fuR145MwRdIZfdsNwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Pão na Chapa">
                    <div class="rdm-item-info">
                        <span class="rdm-item-name">Pão na Chapa</span>
                        <span class="rdm-item-price">R$4,90</span>
                    </div>
                    <div class="rdm-item-action">
                        <a href="{% url 'add_carrinho' produto_nome='Pão na Chapa' produto_preco='4.90' %}" class="rdm-cart-icon">&#128722;</a>
                    </div>
                </li>
            </ul>
        </main>
    </div>
{% endblock %}
